@import url('/assets/css/import.css');
/*for all*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}
:root{
    --primary-color:#9CC69B;
    --secondary-color:#488d24;
    --gray:#79B4A9;
    --background-co-primary:#D7F2BA;
}
/*utility classes*/
.container{
    max-width: 1100px;
    margin: outo;
    padding: 0 2rem;
}

figure {
    border: 1px #cccccc solid;
    padding: 2px;
    margin: auto;
}

figcaption {
    background-color: rgb(241, 238, 238);
    color: rgb(155, 152, 152);
    font-size: 8px;
    font-style: italic;
    padding: 2px;
    text-align: center;
}
.text-primary{
    color: var(--secondary-color);
}
.bt-primary{
    background-color: var(--secondary-color);
    color: azure;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.bt-primary:hover{ 
    background-color: #3a721c;
}

h1,h2,h3{
    font-family: "Saira", sans-serif;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/*heder*/
#home{
    background-color: var(--background-co-primary);
    height: 100vh;
}
#home .navbar{
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #ccc;
    position: fixed;
    width: 100%; 
    z-index: 1;
}
#home .navbar nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 1.5rem 2rem;
}
#home #logo{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
}
#home .navbar nav ul{
display: flex;
justify-content: center;
align-items: center;
}
#home .navbar nav ul a{
    margin: 0 15px;
    color: var(--primary-color);
    font-weight: 600;
}
/*header-conten*/
#home .header-content{
    display:grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    padding: 5rem 2rem 0;
    height: 100%;
}
#home .header-content .content-text{ 
    margin-bottom: 5rem;
}
#home.header-content img{
width: 300px;
height: 300px;
}
#home .header-content p span{
font-weight: 700;
font-size: 20px;
}
#home .header-content h1{
    font-size: 60px;
    color: var(--primary-color);
    text-shadow: 3px 3px 3px rgb(0, 0, 0 ,0.2);
    margin-top: 10px;
}
#home .header-content .title{
    font-size: 20px;
    color: var(--primary-color);
    margin: 10px 0;
    font-weight:500 ;
}
#home .header-content .social{
    margin: 1rem 0 2rem;
}
#home .header-content .social a i{
    font-size: 18px;
    padding: 10px;
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.3 ease;
}
#home .header-content .social a i:hover{
    transform: scale(0.85);
}
footer{
    background-color: #ffffff;
    color: var(--primary-color);
    font-size: 15px;
    padding: 1rem 0;
    text-align: center;
    border-top: 1px solid #ccc;   
}
footer .social a i{
    color: #3a721c;
    padding: 10px;
    font-size: 20px;
}

/*services*/
#services{
    background: #f1fceb;
}
#services{
    padding: 6rem 6rem;
}
#services h2{
    text-align: center;
    font-size: 38px;
    color: var(--primary-color);
    font-weight: 600;
    letter-spacing: 1px;
}
#services hr{
    width: 500px;
    height: 3px;
    background-color: var(--secondary-color);
    border: none;
    margin: 5px auto 0;
}
#services .heading{
    display: flex;
    justify-content: center;
    align-items: center;
}
#services .heading img{
    width: 55px;
    margin-right: 20px;
}
#services .row{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 4rem;
    text-align: center;
    column-gap: 2rem;
    row-gap: 4rem;  
}
#services .row .item{
    background-color:rgb(255, 255, 254);
    padding: 30px 15px;
    box-shadow: 2px 2px 7px rgb(0, 0, 0 ,0.2);
    border-radius: 5px;
    transition: all 0.3s ease;
}
#services .row .item:hover{
    transform: scale(1.04);
}
#services .row .item h3{
    margin: 15px 0;
    color: var(--primary-color);
}
#services .row .item img{
    width: 88px;
    height: 88px;
}

#services .row .item p{
    font-size: 15px;
    color: var(--gray);
}
/*medium responsive*/
@media (max-width:768px) {
    #home .navbar nav{
        display: block;
        text-align: center;
    } 
    #home .navbar nav ul{
        margin-top: 20px;
    }
    #home .navbar nav ul a{
        margin: 0 8px;
    }
    #home .header-content{
        grid-template-columns: 1fr;
    }
    #home .header-content .content-text{ 
        margin-bottom: 0rem;
        margin-top: 5rem;
    }
    #home.header-content img{
        max-width: 88px;
        margin:outo;
    }
    #home .header-content h1{
        font-size: 50px;
    }
    #services{
        padding: 5rem 2rem 0;
    }
    #services .row{
        display: block;
        grid-template-columns: 1fr;  
    }
}
/*small responsive*/
@media (max-width:528px) {
    #home .header-content h1{
        font-size: 35px;
    }
    #home.header-content img{
        margin:outo;
    }
    #home .header-content p span,
    #home .header-content .title{
        font-size: 16px;
    }
    #services h2{
        font-size: 30px;
    }
    #services .row{
        display: block;
        grid-template-columns: 1fr;
    }
}